<div><a href="/">Home</a></div>
<div><a href="/login">Login</a></div>
<div><a href="/signup">Signup</a></div>

<h1> Groups </h1>
<br>
<br>
<% @groups.each do |group| %>
<h2><a href="/groups/<%= group.id %>"><%= group.name %></a></h2>

<% end %> 