 <div><a href="/">Home</a></div>
 <div><a href="/groups">Groups</a></div>
 
 
 <h1>Signup</h1>
<p><%= @error %></p>
<form action="/signup" method="post">
    <input type="text" name="username">   
    <input type="password" name="password">
    <input type="submit" value="Remember me!!"/>

</form>
<br>
<br>
<br>
<div><a href="/login">Already have account? Log in here!</a></div>

