<h1>Edit Bias Rank</h1>
<form action="/idols/<%= @dreamboy.idol.id %>/dreamboys/<%= @dreamboy.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<label> New Rank </label>
<input type="text" name="notes">
<button type="submit"> Change Rank</button>
