<h1>Let's rank this Idol</h1>
<form action="/idols/<%=@idol.id%>/dreamboys/new"  method="post">
<label> Rank of Bias:</label>
<input type="text" name="notes">
<button type="submit"> Add Bias</button>
</form>
