<h1> Welcome to the Male Kpop Bias Lister!</h1>
<br>
<br>
<br>
<br>
<h2>What do you want?</h2>
<h3><a href="/groups">Lemme see the Groups!</a></h3>
<h3><a href="/dreamboys">Gimme my boys!!</a></h3>
<h3><a href="/myaccount">I want to see my account...</a></h3>
<h3><a href="/logout">I'm good now, log me out!</a></h3>