<h1>Welcome to the Male Kpop Bias Lister!!!</h1>
<h3>Never forget information about your bias again!</h3>

  <div>
  <div><a href="/login">Login</a></div>
  <div><a href="/signup">Sign Up</a></div>
  <div><a href="/groups">Groups</a></div>
  
  
  

  </div>

